.header {
    background-color: ghostwhite;
    // box-shadow: 0 2px 2px -2px gray;
    height: 70px;
    color: white;
    vertical-align: middle;
    text-align: center;
    padding-top: 30px;
    margin-bottom: -30px;
}
.header-text {
    font-family: "Lato";
    font-size: 34px;
    color: #78A642;
    letter-spacing: -0.952px;
    cursor: pointer;
}
.header-text-gallery {
    font-family: "Lato";
    font-size: 34px;
    color: #48545a;
    letter-spacing: -0.952px;
    cursor: pointer;
}